---
import PageLayout from "@layouts/PageLayout.astro";
import { Content, frontmatter } from "@content/apply/faq.md";
import TableOfContents from "@components/TableOfContents.astro";
---

<style lang="scss">
  @use "openaq-design-system/scss/variables" as variables;
  @use "openaq-design-system/scss/mixins/index" as mixins;

  .faq-page {
    padding-bottom: 150px;
    max-width: 700px;
    width: 100%;
    @media (max-width: 1199px) {
      max-width: 100%;
    }
  }
</style>

<PageLayout pageTitle={frontmatter.title}>
  <div class="faq-page">
    <section class="title-section">
      <h1 class="gradient-title">{frontmatter.title}</h1>
    </section>

    <section class="description-section">
      <Content />
    </section>
  </div>
  <TableOfContents contentSelector="main" />
</PageLayout>
