---
import { Image } from "astro:assets";

const { testimonials } = Astro.props;
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;

  .testimonial-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;

    &__img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .testimonial-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      text-align: left;
      max-width: 350px;
      flex-grow: 1;

      h3 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 5px;
      }
      q {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }
  @media (max-width: 650px) {
    .testimonial-card {
      &__img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 50%;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .testimonial-card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
{
  testimonials.map((testimonal) => {
    return (
      <article class="testimonial-card">
        <div class="testimonial-card__img">
          <a
            href={testimonal.data.url}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image src={testimonal.data.image} alt={testimonal.data.name} />
          </a>
        </div>
        <div class="testimonial-content">
          <q class="quote">{testimonal.body}</q>
        </div>
      </article>
    );
  })
}
