---
import PageLayout from "@layouts/PageLayout.astro";
---

<style lang="scss">
  @use "openaq-design-system/scss/variables" as variables;
  @use "openaq-design-system/scss/mixins/index" as mixins;

  h2 {
    @include mixins.heading1;
    color: variables.$sky120;
  }
  .apply-page {
    padding-bottom: 100px;
    .title-section {
      border-bottom: 2px solid variables.$sky120;

      h1 {
        margin-bottom: 0;
      }

      .subtitle {
        font-weight: bold;
        margin-bottom: 50px;
      }
    }
    .description-section {
      padding-top: 50px;
      margin-bottom: 50px;
    }
    ul {
      line-height: 1.6;
      margin-bottom: 40px;
    }

    .requirements-ul {
      padding-left: 0;

      .requirements-li {
        list-style: none;
      }
    }
  }
</style>

<PageLayout>
  <div class="apply-page">
    <section class="title-section">
      <h1 class="gradient-title">
        OpenAQ Community Ambassador Program Application 2024
      </h1>
      <p class="subtitle">
        The OpenAQ Community Ambassador Program: Fighting Air Inequality in Your
        Community and Beyond
      </p>
    </section>

    <section class="description-section">
      <p>
        Applications are open for the 2026 OpenAQ Community Ambassador Program!
        This annual program, supports ten emerging air quality leaders in low-
        and middle-income countries in developing skills to fight air
        inequality—the unequal access to clean air. Over ten months, Ambassadors
        are provided with interdisciplinary training (with a focus on using
        data), leadership development, and a supportive professional community
        to hone skills and expertise in the air quality field. There are also
        extended opportunities to collaborate and participate in OpenAQ
        activities beyond the program.
      </p>
      <p>
        OpenAQ aggregates and harmonizes open air quality data from across the
        globe onto a free open-source data platform so that anyone concerned
        about air quality has unfettered access to the data they need to
        analyze, communicate and advocate for clean air. We work to facilitate
        collaboration across sectors and geographies so that those working with
        air quality data learn from each other.
      </p>
    </section>

    <h2>As an OpenAQ Community Ambassador, you will:</h2>
    <ul>
      <li>
        Grow leadership and technical skills to advance your work to fight air
        inequality
      </li>
      <li>
        Work on a project that uses data to tackle an air quality issue in your
        community
      </li>
      <li>
        Be provided with one to two air sensors to monitor air quality for the
        duration of the program
      </li>
      <li>
        Connect with OpenAQ and diverse professional mentors within OpenAQ’s
        global network
      </li>
      <li>
        Serve as a key liaison between your community and OpenAQ and host one or
        more OpenAQ activites in your local community and/or region
      </li>
      <li>
        Provide key perspectives to OpenAQ that help the organization increase
        its contributions to your and other communities
      </li>
      <li>
        Be featured on the OpenAQ website and social media as an OpenAQ
        Community Ambassador
      </li>
      <li>
        Learn about diverse opportunities such as related workshops, trainings,
        and conferences (with potential support from OpenAQ in reviewing your
        application or providing a letter of support)
      </li>
    </ul>

    <h2>Qualifications:</h2>
    <p>
      OpenAQ Community Ambassadors are individuals who are committed to using
      air quality data to create positive change in the fight against air
      inequality over the course of the fellowship and beyond. Ambassadors must
      be located in a low- or middle-income country and can come from diverse
      cultural and socioeconomic backgrounds and work in any sector (nonprofit,
      public or private). Ambassadors will receive a $2,000 USD stipend to
      participate in the program.
    </p>

    <h3>To apply, you must be:</h3>
    <ul>
      <li>
        An early-career professional working in air quality or a profession that
        relates closely to air quality, where using air quality data can support
        your work
      </li>
      <li>
        Dedicated to raising awareness of air pollution challenges in your local
        community
      </li>
      <li>
        Willing to lead a project, participate in all activities, and share your
        progress
      </li>
      <li>
        Comfortable presenting to and interacting with air quality
        decision-makers
      </li>
      <li>
        A resident of a low- or middle-income country as classified by the World
        Bank
      </li>
      <li>
        Familiar with the OpenAQ Platform (a plus, but not a prerequisite)
      </li>
      <li>Comfortable engaging in the English language</li>
      <li>
        Committed to working with OpenAQ and fellow ambassadors in a
        collaborative virtual environment across multiple time zones
      </li>
      <li>
        Interested in maintaining ongoing mutual relationships with OpenAQ and
        fellow ambassadors after the close of the program
      </li>
      <li>
        Able to commit at least 200 hours over the course of the program, with
        an average time commitment of 5 hours per week
      </li>
    </ul>

    <p>
      Before you fill out this form, make sure to prepare the following
      documents (Accepted file types: .doc, .docx or .pdf)
    </p>
    <ul class="requirements-ul">
      <li class="requirements-li">
        1. <strong>A resume or CV </strong>no longer than two pages (one page
        front and back) (filename format: "Name_Resume")
      </li>
      <li class="requirements-li">
        2. <strong>A two-page Statement of Interest</strong> that answers the following
        questions (filename format: "Name_Statement of Interest"):
        <ul>
          <li>
            Why are you interested in becoming an OpenAQ Community Ambassador?
          </li>
          <li>
            Describe a social and/or environmental initiative in your community
            that you have led and what impact it has had.
          </li>
          <li>
            Describe a particular air quality challenge that your community is
            facing. How do you intend to tackle this challenge from the
            learnings you expect from the Ambassador Program?
          </li>
          <li>
            What specific things do you hope to learn and achieve from
            participating in the OpenAQ Community Ambassador Program?
          </li>
          <li>
            What life skills or professional experience can you share with other
            Ambassadors in the cohort? Feel free to be creative!
          </li>
        </ul>
      </li>
    </ul>

    <p><strong>Applications will close by February 21, 2025.</strong></p>
    <p>
      Once you submit your application, you will receive a confirmation email or
      receipt within 5 business days.
    </p>

    <p>
      If you have any questions about the program or have any accessibility
      needs, please contact us.
    </p>
  </div>
</PageLayout>
