---
import MiniCards from "@components/cards/MiniCards.astro";
import PartnerCards from "@components/cards/PartnerCards.astro";
import ProjectCard from "@components/cards/ProjectCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Map from "@components/Map.astro";
import { getCollection } from "astro:content";
import TestimonialCard from "@components/cards/TestimonialCard.astro";
import { Image } from 'astro:assets';

const partners = await getCollection("partners");
const projects = await getCollection("projects");
const testimonials = await getCollection("testimonials");

const ambassadors = await getCollection("ambassadors");
const isoCodes = ambassadors.map((ambassador) => {
  return ambassador.data.country_iso;
});
---

<style lang="scss">
  @use "openaq-design-system/scss/variables" as variables;

  @use "openaq-design-system/scss/mixins/index.scss" as mixins;
  @use "openaq-design-system/scss/utilities/types.scss";
  @use "openaq-design-system/scss/utilities/colors.scss";
  @use "openaq-design-system/scss/inputs";

  @use "openaq-design-system/scss/buttons";

  .hero-section {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;

    .hero-curve {
      position: absolute;
      left: 0;
      background-color: #e2ebe1;
      height: 1000px;
      width: 1000px;
      z-index: 1;
      border-radius: 0 100% 100% 0;
      transform: translateY(-250px) translateX(-350px);
    }

    .hero-image {
      position: absolute;
      right: 0;
    }

    .hero-content {
      position: absolute;
      left: 50px;
      width: 450px;
      padding-top: 80px;
      background-color: #e2ebe1;
      padding-left: 40px;
      z-index: 2;

      h1 {
        font-size: 2.9rem;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .hero-subtitle {
        max-width: 280px;
        width: 100%;
      }

      .learn-more-btn {
        width: fit-content;
      }
    }
  }
  .partner-section {
    margin-top: 60px;
    h1 {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 40px;
    }
    .partner-logos {
      display: flex;
      flex-direction: row;
      gap: 100px;
      align-items: center;
      justify-content: center;
      @media (max-width: 1000px) {
        gap: 70px;
      }
      @media (max-width: 600px) {
        gap: 20px;
      }
    }
  }

  .global-section {
    margin-top: 60px;
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    .global-image {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      div {
        width: 1200px;
      }
    }
  }
  .cards-section {
    margin-top: 60px;
    overflow: hidden;
    padding: 80px 60px;
    h1 {
      width: 40%;
      text-align: center;
      margin: 0 auto;
      @media (max-width: 1000px) {
        width: 70%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .mini-cards {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
      @media (max-width: 750px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .projects-section {
    margin-top: 60px;
    background-color: #e2ebe1;
    padding: 40px 20px;
    h1 {
      text-align: center;
      margin: 0 auto;
      padding-top: 20px;
    }
    .project-container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 70px;
      align-items: center;
      justify-content: center;

      @media (max-width: 1100px) {
        gap: 20px;
      }
      @media (max-width: 850px) {
        display: flex;
        flex-wrap: wrap;
      }
      @media (max-width: 580px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .testimonials-section {
    padding: 80px 60px;

    h1 {
      margin-bottom: 40px;
      text-align: center;
    }

    .testimonial-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      gap: 70px 20px;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  .map-image {
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
  }
</style>

<BaseLayout>
  <section class="hero-section">
    <div class="hero-curve"></div>
    <div class="hero-content">
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
      <h1>OpenAQ Ambassadors Program</h1>
      <p class="hero-subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        sapiente quasi blanditiis earum facilis doloremque. Ipsa quis deserunt
        fugiat est?
      </p>
      <a href="/apply/" class="btn btn-primary learn-more-btn" role="button"
        >Apply</a
      >
    </div>
    <div class="hero-image">
      <img
        src="/src/assets/images/ambassadors_workshops_monthly_sessions.webp"
        alt=""
      />
    </div>
  </section>

  <section class="partner-section">
    <h1>Partners</h1>
    <div class="partner-logos">
      <PartnerCards partners={partners} />
    </div>
  </section>

  <section class="global-section">
    <h1>The global reach of OpenAQ ambassadors</h1>
    <h2>Representing {new Set(isoCodes).size} countries</h2>
    <div class="global-image">
        <img class="map-image" src="/imgs/map/all.png" alt="" height="588" width="1200"/>
    </div>
  </section>
  <section class="cards-section">
    <h1>
      A 10 month program to accelerate your career and drive clean air action
    </h1>
    <div class="mini-cards">
      <MiniCards />
    </div>
  </section>

  <section class="projects-section">
    <h1>Featured projects</h1>
    <div class="project-container">
      {
        projects.map((project) => (
          // <a href={`/projects/${project.id}`}>
          <ProjectCard project={project} />
          // </a>
        ))
      }
    </div>
  </section>

  <section class="testimonials-section">
    <h1>Testimonials</h1>
    <div class="testimonial-card">
      <TestimonialCard testimonials={testimonials} />
    </div>
  </section>
</BaseLayout>
