---
import type { CollectionEntry } from "astro:content";

interface Props {
  impact: CollectionEntry<"impacts">;
}

const { impact } = Astro.props;
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;

  .impact-card {
    background-color: white;
    display: flex;
    height: 160px;
    width: 250px;
    box-shadow: 0 8px 5px 5px rgb(83, 83, 83, 0.25);
    border-radius: 2px;
    padding: 20px 25px;

    .impact-content {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 10px 10px;

      p {
        text-align: center;
      }
    }
  }
</style>

<article class="impact-card">
  <div class="impact-content">
    <p>{impact.body}</p>
  </div>
</article>
