---
const { pageTitle } = Astro.props;

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@assets/styles/main.scss";

const ogImageUrl = new URL(
  `/og/${Astro.props.id?.replace(/\.\w+$/, ".png")}`,
  Astro.site
);

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={ogImageUrl} />
    <meta
      name="description"
      content="A global ambassador program training leaders in low- and middle-income countries to fight air pollution through data, science, and community action."
    />
    <title>{pageTitle}</title>
    <slot name="structured-data" />
    {
      import.meta.env.PROD && (
        <>
          <script
            defer
            data-domain="ambassadors.openaq.org"
            src="https://plausible.io/js/script.outbound-links.js"
          />
        </>
      )
    }
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
