---
import Breadcrumb from "@components/Breadcrumb.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Bubbles from "@components/Bubbles.astro";

const { id, pageTitle } = Astro.props;
---

<style lang="scss">
  .bubbles-wrapper {
    position: relative;
    top: -116px;
    width: 100%;
    overflow-x: clip;
  }

  .content {
    padding: 20px;
    min-height: 100vh;
    width: 800px;
    margin: 0 auto;
    z-index: 2;

    :global(h1) {
      margin-right: auto;
    }
    @media (max-width: 800px) {
      padding: 0;
      grid-template-columns: repeat(2, 1fr);
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 65%;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
  }
</style>

<BaseLayout id={id} pageTitle={pageTitle}>
  <slot name="structured-data" slot="structured-data" />
  <Breadcrumb />
  <div class="bubbles-wrapper">
    <Bubbles />
  </div>
  <div class="content">
    <slot />
  </div>
</BaseLayout>
